body,html {
    height: 100vh;
    width: 100vw;
    background-image: url('/assets/background-landing.jpg');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    background-attachment: fixed;
}

.header-menu {
    width: 100vw;
    background-color:  rgba(233, 194, 147, 0.918);
    display: block;
    position: fixed;
}

#openMenu {
    position: relative;
    cursor: pointer;
    padding: 10px;
    font-size: 2rem;
}

#openMenu:hover {
    background-color: rgba(148, 95, 30, 0.377);
    border-radius: 0px 5px 5px 0px;
}

.container-menu {
    background-color: rgb(233, 194, 147);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    font-family: 'Noto Serif', serif;
    font-weight: 500;
    display: none;
    border-right: 1px solid rgba(255, 255, 255, 0.267);

    animation: slidein 0.3s ease-in;
}

@keyframes slidein {
    from {
    transform: translateX(-100%);
    }

    to {
    transform: translateX(0%);
    }
}

.container-menu ul {
    display: flex;
    flex-direction: column;
    gap: 40px
}

.container-menu li {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.267);
}

.container-menu a {
    display: block;
    color: black;
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 5px;
}

.container-menu a:hover {
    background-color: rgba(148, 95, 30, 0.575) ;
}

.icon-close-menu {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#closeMenu {
    cursor: pointer;
    font-size: 2rem;
    margin-bottom: 500px;
}

.container-snowFlake {
    display: block;
    text-align: center;
    padding-top: 150px;
    font-family: 'Noto Serif', serif;
}

.snowFlake {
    width: 100px;
}

.typing  {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 8px;
    left: 48px;
    width: 100%;
    font-size: 1.5rem;
}

.typing h4 {
    width: 338px;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;

    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid rgb(0, 0, 0);
    font-family: monospace;
    padding: 5px;
    margin-right: 44px;

    color: rgb(0, 0, 0);
}


@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

/* ---------------------------------------- */

.container-landing-page {
    background-color: rgba(233, 194, 147, 0.918);
    margin: auto;
    width: 80vw;
    height: 85vh;
    padding: 15px;

    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.301);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.699);

    animation: showIn 1s ease;
}

@keyframes showIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.container-landing-page  p {
    line-height: 24px;
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.534);
    text-align: justify;
}

.container-landing-page h2 {
    padding-bottom: 5px;
    padding-top: 5px;

    font-family: 'Arial';
}

.title-content {
    
}

.title-content h1{
    font-size: 2rem;
    text-align: center;
    padding-bottom: 5px;
}


.maintance {

}

.instalation {

}

.cleaning {

}

.sanitation {

}